* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --color-primary: #0D0D0D;
    --color-secondary: #2C2A82;
    --text: #fff;
    background: var(--color-primary);
}

body {
    /* background: url(../img/fundo-swipe.png) no-repeat;
    background-size: cover;
    background-position-y: 500px; */
    overflow-x: hidden;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3rem;
    color: var(--text);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
    letter-spacing: .1rem;
}

ul {
    margin: 0
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.secao {
    padding: 60px 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    padding-bottom: 50px;
}

.titulo::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 2px auto 8px auto;
}

/* Introdução */

.introducao {
    background: url('../img/bg-intro.png') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.introducao .container-textos {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introducao .container-textos h1 {
    font-weight: 900;
}

.introducao .container-textos h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 2px auto 8px auto;
}

.introducao .container-textos p:first-of-type {
    margin-top: 8px;
}

.introducao .container-textos p {
    font-size: 24px;
}

/* Sobre */

.sobre .info-sobre {
    display: flex;
}

.sobre .info-sobre img {
    height: 300px;
    width: 300px;
    margin: 0 30px;
}

.sobre .info-sobre p {
    width: 290px;
}

.sobre .info-sobre p:first-of-type {
    text-align: right;
}

.sobre .info-sobre p:first-of-type::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 10px;
}

.sobre .info-sobre p:last-of-type {
    margin-top: auto;
}

.sobre .info-sobre p:last-of-type::before {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Serviços */

.servicos {
    background: var(--color-secondary);
    transform: rotate(-3deg);
    width: 110%;
    margin-left: -5%;
    margin-top: 40px;
}

.servicos .container {
    transform: rotate(3deg);
}

.servicos .lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos .lista-servicos li {
    display: flex;
    list-style: none;
    background-color: var(--color-primary);
    border-left: 10px solid #fff;
    padding: 40px;
    max-width: 460px;
    margin-bottom: 20px;
}

.servicos .lista-servicos li:first-of-type {
    margin-right: 20px;
}

.servicos .lista-servicos li div p {
    margin-top: 20px;
    width: 240px;
}

.servicos .lista-servicos li img {
    margin-left: 30px;
}

/* Skills */

.skills {
    margin-top: 40px;
}

.skills .skills-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .lista-skills {
    list-style: none;
    display: flex;
    justify-content: center;
}

.skills .lista-skills li {
    width: 220px;
    height: 150px;
    margin-right: 40px;
    text-align: center;
}

.skills .lista-skills li img {
    max-width: 100%;
    max-height: 150px;
}

.skills .btn-anterior, .skills .btn-proximo {
    height: 0;
    width: 0;
    background: transparent;
    border-style: solid;
}

.skills .btn-anterior {
    border-width: 17.5px 30.3px 17.5px 0;
    border-color: transparent #ffffff transparent transparent;
}

.skills .btn-proximo {
    border-width: 17.5px 0 17.5px 30.3px;
    border-color: transparent transparent transparent #ffffff;
}

/* Portfolio */

.portfolio {
    background: var(--color-secondary);
    transform: rotate(-3deg);
    width: 110%;
    margin-left: -5%;
    margin-top: 40px;
}

.portfolio .container {
    transform: rotate(3deg);
}

.portfolio .lista-portfolio {
    list-style: none;
    display: flex;
}

.portfolio .lista-portfolio li {
    margin-right: 20px;
}

.portfolio .lista-portfolio li:last-of-type {
    margin-right: 0px;
}

.portfolio .lista-portfolio li * {
    display: block;
}

.portfolio .lista-portfolio li img {
    width: 300px;
    height: 200px;
    background: red;
}

.portfolio .lista-portfolio li a {
    border: 3px solid #fff;
    text-decoration: none;
    padding: 14px 0;
    text-align: center;
    font-size: 20px;
    color: var(--text);
    margin-top: 20px;
}

/* Contato */

.contato {}

.contato .redes {
    display: flex;
    justify-content: center;
}

.contato .redes {
    display: flex;
    justify-content: center;
}

.contato .redes a {
    border-bottom: 3px solid #fff;
}

.contato .redes a:first-of-type {
    margin-right: 50px;
}

/* Rodape */

.rodape {
    background: var(--color-secondary);
    padding: 35px 0;
}

.rodape p {
    font-size: 20px;
    text-align: center;
}