* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --color-primary: #0D0D0D;
    --color-secondary: #2C2A82;
    --text: #fff;
    background: var(--color-primary);
}

body {
    /* background: url(../img/fundo-swipe.png) no-repeat;
    background-size: cover;
    background-position-y: 500px; */
    overflow-x: hidden;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3rem;
    color: var(--text);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
    letter-spacing: .1rem;
}

ul {
    margin: 0
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    padding-bottom: 50px;
}

.titulo::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 2px auto 8px auto;
}

/* Introdução */

.introducao {
    background: url('../img/bg-intro.png') no-repeat;
    background-size: cover;
    height: 500px;
}

.introducao .container-textos {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introducao .container-textos h1 {
    font-weight: 900;
}

.introducao .container-textos h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 2px auto 8px auto;
}

.introducao .container-textos p:first-of-type {
    margin-top: 8px;
}

.introducao .container-textos p {
    font-size: 24px;
}

/* Sobre */

.sobre {
    padding: 60px 0;
}

.sobre .info-sobre {
    display: flex;
}

.sobre .info-sobre img {
    height: 300px;
    width: 300px;
    background-color: red;
    margin: 0 30px;
}

.sobre .info-sobre p {
    width: 290px;
}

.sobre .info-sobre p:first-of-type {
    text-align: right;
}

.sobre .info-sobre p:first-of-type::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin-left: auto;
    margin-top: 10px;
}

.sobre .info-sobre p:last-of-type {
    margin-top: auto;
}

.sobre .info-sobre p:last-of-type::before {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Serviços */

.servicos {
    background: var(--color-secondary);
    transform: rotate(-5deg);
    width: 110%;
    margin-left: -5%;
    height: 800px;
    padding: 60px 0;
}

.servicos .container {
    transform: rotate(5deg);
}

.servicos .lista-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos .lista-servicos li {
    display: flex;
    list-style: none;
    background-color: var(--color-primary);
    border-left: 10px solid #fff;
    padding: 40px;
    max-width: 460px;
    margin-bottom: 20px;
}

.servicos .lista-servicos li:first-of-type {
    margin-right: 20px;
}

.servicos .lista-servicos li div p {
    margin-top: 20px;
    width: 240px;
}

.servicos .lista-servicos li img {
    margin-left: 30px;
}